.jumbotron {
    background-image: url("http://placehold.it/1200x100");
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
}
.content {
    margin-bottom:80px;
}
/* classes for margin between rows */
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom30 { margin-bottom:30px; }