.jumbotron {
    background-image: url("http://placehold.it/1200x100");
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
}
.content {
    margin-bottom:80px;
}
/* classes for margin between rows */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }